body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: #313131;
}

.game {
  position: absolute;
  top: 5rem;
}

.game-board, 
.game-info {
  display: inline-block;
}

.game-info {
  vertical-align: top;
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 2px solid #8e8e8e;
}

.game-info > div {
  color: white;
  font-size: 32px;
}

.square {
  height: 200px;
  width: 200px;
  vertical-align: top;
  background: rgba(0,0,0,0);
  border: 0;
  color: white;
  font-size: 10.4vw;
  cursor: pointer;
}

.board-row:first-child > .square:first-child,
.board-row:nth-child(2) > .square:first-child {
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.board-row:first-child > .square:nth-child(2),
.board-row:nth-child(2) > .square:nth-child(2) {
  border-bottom: 4px solid white;
}

.board-row:first-child > .square:last-child,
.board-row:nth-child(2) > .square:last-child {
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

.board-row:nth-child(3) > .square:first-child {
  border-right: 4px solid white;
}

.board-row:nth-child(3) > .square:last-child {
  border-left: 4px solid white;
}

ol {
  color: white;
  font-size: 1.25rem;
  padding-left: 1.25rem;
}

ol > li {
  margin-bottom: 15px;
}

ol > li > button {
  cursor: pointer;
  background: white;
  color: #313131;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 10px;
  width: 100%;
  margin-left: 5px;
}

@media screen and (min-width: 1500px) {
  .square {
    font-size: 140px;
  }
}

@media screen and (max-width: 992px) {
  #root {
    height: 600px;
    min-height: 600px;
  }
  .square {
    height: 150px;
    width: 150px;
    font-size: 20vw;
  }
}

@media screen and (max-width: 767px) {
  #root {
    width: 100vw;
    height: 100vh;
  }
  
  .game-board, 
  .game-info {
    display: block;
  }

  .game-info {
    margin: 1.5rem 0 0 0;
    border-left: 0;
    padding: 0;
  }

  .square {
    height: 100px;
    width: 100px;
  }
}